.text{
    margin: 2px 0px 0px 130px;
    font-size: 10px;
    color: gray;
}

.wrapper {
    display: flex;
}
#progress {
    margin: 0px 0px 0px 20px;
}
.password-strength {
    display: flex;
}
.strength p{
    margin: 0px 0px 0px 20px;
}
.strength span{
    margin: 0px 0px 0px 20px;
}

progress{
    background: rgb(116, 116, 114);
    color: red;
    height: 10px;
    border-radius: 15px;
}
progress::-webkit-progress-bar {
    background: rgb(116, 116, 114);
    border-radius: 15px;
}
progress::-webkit-progress-value {
    background: red;
    border-radius: 15px;
}
progress::-moz-progress-bar {
    background: red;
    border-radius: 15px;
}

